.galeria {
  padding-inline: 2rem;
 

  @include large {
    width: 80%;
    
  }
  & .grid-items {
    @include border-1;
    & img {
      width: 100%;
      @include large {
        width: 100%;
      
      }
      &:hover {
        opacity: 0.5;
      }
    }
  }
}
